content-management/workflows/AI_Audio_Transcriber.json
{
  "name": "My workflow 13",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_7EntfA-wlo62VW2axQZdFx3pYogQRz_",
          "mode": "list",
          "cachedResultName": "Recordings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_7EntfA-wlo62VW2axQZdFx3pYogQRz_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7e6b8c15-c531-40e7-b425-7e7f140be2bf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kkS3NlMoYYb0qAIL",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "1d76bc97-455f-4993-b72c-290dc7fa2be3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kkS3NlMoYYb0qAIL",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "3cc5c883-19d9-47f6-b70f-023678849adf",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QivR7SxB24l8KozV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Transcript:  {{ $json.text }}"
            },
            {
              "content": "Instruction:\n\nSummarize the audio content into plain text, following the structure below.\nRules:\n\nThe entire summary must not exceed 1500 characters.\n\nInclude and label all the following sections: title, summary, main_points, action_items, follow_up, stories, references, arguments, related_topics.\n\nKeep the style clear, concise, and organized.\n\nUse short, natural-sounding bullet points for lists.\n\nExample formatting:\n\n\ntitle: Notion Buttons\nsummary: A collection of buttons for Notion that streamline workflow and save time.\nmain_points:\n- Overview of Notion buttons\n- Examples of button use cases\n- Best practices for setup\naction_items:\n- Test different button templates\n- Implement buttons in daily workflows\n- Share templates with team\nfollow_up:\n- Explore advanced button integrations\n- Gather team feedback on usage\nstories:\n- A team improved productivity by 30% using custom buttons\nreferences:\n- Official Notion documentation\n- Community tutorials on Notion workflows\narguments:\n- Buttons reduce repetitive tasks\n- Custom buttons enhance flexibility\nrelated_topics:\n- Notion automations\n- Workflow optimization\n- Team collaboration tools"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        660,
        0
      ],
      "id": "94c90361-03da-4e7b-b2c8-799be9e48b45",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "QivR7SxB24l8KozV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/n8n-Transcript-1e4ccdb23d99802b8908f8568bb008eb",
          "mode": "url"
        },
        "title": "={{ $('Google Drive').item.json.originalFilename }}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Summary"
            },
            {
              "textContent": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1020,
        0
      ],
      "id": "072b328c-62f7-4385-840a-763c06f0745b",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "4M9Oi3hI6oYABSob",
          "name": "Notion account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3444656-bd16-4d70-8755-711395fad8d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f96a7e8659163312cbaf16ad76688747ea79fa6bf8e4ec720c14444abdf2c12c"
  },
  "id": "1PvTenaE5RcYJLeY",
  "tags": []
}