content-management/workflows/Audio_Transcription_summary_from_google_drive.json
{
  "name": "Audio Transcription summary from google drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1V2S_Td5PlTzI7x2C_D6-Wb3Sg3KTIvRE",
          "mode": "list",
          "cachedResultName": "Temp",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1V2S_Td5PlTzI7x2C_D6-Wb3Sg3KTIvRE"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        20
      ],
      "id": "5c02eb3d-c4ac-4e4b-8c12-1dea5f4b43fc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KlEq0NHvkmujgNma",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.content }}",
        "voice": "fable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        20
      ],
      "id": "b19dac8f-715f-48d3-9fe8-3d12825f8143",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aIHDQgV19k2Veanp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -200,
        20
      ],
      "id": "26fb38f7-fb3b-43aa-b314-0edb49e30a1a",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "b4ncjteVABrjXuSD",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0fe9bb16-a7b0-4036-9b51-16f02053be7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17544df9d922170f169549bb6f6fc6e24c680611d4e45dcf003c7ae065c06687"
  },
  "id": "nbe3wbreHOSQ8drl",
  "tags": []
}